<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="types">
      <h2 data-cy="typesDetailsHeading"><span jhiTranslate="petclinicApp.types.detail.title">Types</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ types.id }}</span>
        </dd>
        <dt><span jhiTranslate="petclinicApp.types.name">Name</span></dt>
        <dd>
          <span>{{ types.name }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
      </button>

      <button type="button" [routerLink]="['/types', types.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
